Thumbs.db
Option.txt
tmp.ini.txt
*.aps
*.bak
*.cache
[^c]*.exe
*.ilk
*_i.c
*.ncb
*.lib
*.log
*.obj
*.pch
*.pdb
*_p.c
*.suo
*.sln.docstates
*.sbr
*.tlb
*.tlh
*.user
*.vspscc
project.lock.json
*.parameters.json
[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
/packages/
/.vs/config
/.vs/restore.dg
/Bjd.DhcpServer.CoreCLR.Test/lease.db
/.vs/slnx.sqlite
